/* Desktop Layout */

.container {
    flex-direction: column;
    align-items: center;
}

.header, .main {
    width: 1000px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.main {
    justify-content: space-between;
    /*align-content: center;*/
}

.navigation, .footer {
    width: 100%;
}

.book, .board {
    width: 320px;
}

.news {
    width: 660px;
}

.twitter {
    width: 400px;
}

.favorite {
    width: 240px;
    order: 1;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    background: #ffff00;
    width: 250px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexbox {
    background: #008080;
    width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.member {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-form {
    width: 100%;
    order: -1;
    text-align: right;
}

.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
