/* Mobile Layout */
.container{
  flex-direction: row;
  flex-wrap: wrap;
}
.header, .navigation, .main, .footer{
  width: 100%;
}
.book, .news, .twitter, .board, .favorite{
  width: 100%;
}

/* 헤더 */
.header{
  background-color: #38302e;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1em;
}
.logo ,.member, .search-form{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.logo{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
.member{
  order: -1;
  background-color: #988574;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* .header{
  padding: 0 20px;
  background-color: #38302e;
  color: #fff;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35px 100px 50px;
}
.logo{
  grid-column: 1/2;
  grid-row: 2/3;
}
.flexbox{
  grid-column: 1/2;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35px 100px 50px;
}
.member{
  background: #988574;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
}
.search-form{
  grid-column: 1/2;
  grid-row: 3/4;
} */
.member a{
  display: inline-block;
  padding: 1em;
}
.search-form fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}
[type="search"]{
  border: 1px solid #aaa;
  padding-left: 5px;
  border-radius: 5px;
  margin-right: 5px;
  height: 30px;
  width: calc(100% - 40px);
}
.buttonSearch{
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
  background-color: transparent;
}
.buttonSearch::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./../images/btn_search.png");
  background-size: 100% 100%;
}
/* 내비게이션 */
.buttonBurger{
  width: 2.5em;
  height: 2.5em;
  background: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  top: 5em;
  right: 20px;
  cursor: pointer;
  overflow: hidden;
}
.burgerBar{
  background: #fff;
  height: 25%;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.2s;
}
.burgerBar.positionTop{
  top: 0;
}
.burgerBar.positionMiddle{
  top: 50%;
  transform: translateY(-50%);
}
.burgerBar.positionBottom{
  top: 100%;
  transform: translateY(-100%);
}
.burgerBar.round{
  border-radius: 50px;
}
.isAct .burgerBar.positionTop{
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.isAct .burgerBar.positionMiddle{
  transform: translate(-100%, -50%);
}
.isAct .burgerBar.positionBottom{
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.menu-list{
  background: rgba(0,0,0,0.85);
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  padding: 2em 1em 2em 2em;
  list-style: none;
  transform: translateX(-100%);
  transition: all 0.2s;
}
.isAct .menu-list{
  transform: none;
}
.menu-item{
  margin-top: 1em;
}
.menu-link{
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.5rem;
  width: calc(100% - 3.5em);
}
.submenu{
  margin: 1em 0;
  display: none;
}
.menuAct .submenu{
  display: block;
}
.submenu li{
  margin-top: 0.5em;
}
.submenu a{
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* 메인 영역(모바일)의 안쪽 여백 설정 */
.main{
  padding-left: 20px;
  padding-right: 20px;
}