html {
 font-size: 10px;
}

body {
 font-weight: 300;
 font-size: 1.6rem;
 color: #181818;
 background-color: #fff;
 font-family: 'Spoqa Han Sans', 'Sans-serif';
}

/* 제목 스타일 초기화 */
h1, h2, h3, h4, h5, h6 {
 font-size: 1em;
 font-weight: 300;
}