@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./fonts.css");
@import url("./module/a11y.css");
@import url("./module/module.css");

*, *::before, *::after{
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
}
html{
  font-size: 10px;
}
body{
  background-color: #fff;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 400;
  color: #181818;
}
/* 컨테이너 */
.container{
  display: flex;
}
/* 메인 콘텐츠 */
.main{
  display: flex;
  flex-flow: row wrap;
}
/* 추천서적 */
.book-cover{
  text-align: center;
}
.book-cover figcaption{
  font-size: 1.5rem;
  display: block;
  margin: 0.5em 0;
}
.book-info{
  text-align: center;
}
.book-info dd{
  margin-left: 0;
}
.book-info *{
  display: inline-block;
}
.book-info [aria-label]{
  display: block;
  font-size: 2.5rem;
}
/* .book-info dd:nth-of-type(2){
  display: block;
  font-size: 2.5rem;
} */

/* 새소식 */
.news-date{
  text-align: right;
  display: block;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* 게시판 */
.board{
  background-color: tan;
}
/* 인기 사이트 */
.favorite{
  background-color: pink;
}
/* 트위터 */
.twitter{
  background-color: teal;
}
/* 푸터 */
.footer{
  background-color: hotpink;
  height: 20vh;
}